.eb-checkbox__input {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid grey;
  border-radius: 4px;
  display: inline-grid;
  place-content: center;
  margin: 0;
}
.eb-checkbox__input:checked:before {
  transform: scale(1);
}
.eb-checkbox__input:before {
  content: "";
  transform: scale(0);
  width: 0.65em;
  height: 0.65em;
  border-radius: 2px;
  box-shadow: inset 1em 1em var(--c-fg-secondary);
}
.eb-button__label {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
