.eb-text-input__inner {
  gap: var(--c-space-1);
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: var(--c-space-2);
  padding-right: var(--c-space-2);
  box-sizing: border-box;
  border: var(--c-border-width-1) solid var(--c-border-default);
  border-radius: var(--c-border-radius-2);
  color: var(--c-fg-default);
  background-color: var(--c-bg-default);
  min-height: var(--c-space-10);
}

.eb-text-input__inner:focus-within {
  border: var(--c-border-width-2) solid var(--c-border-secondary);
}

.eb-text-input__inner textarea {
  padding-top: var(--c-space-2);
}
