:root {
  --c-table-background: #2b2e35;
  --c-table-even-item-row: #353942;
  --c-table-item-row-hover: var(--c-bg-default);
}
.c-evenbetter_table_card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.c-evenbetter_table-container {
  overscroll-behavior-y: none;
  overflow: auto;
  height: 100%;
  border-radius: 5px !important;
}
.c-evenbetter_table_header-row {
  min-width: fit-content;
  width: 100%;
  white-space: nowrap;
  border-bottom: 2px solid var(--c-bg-default);
  background-color: var(--c-table-background);
  position: sticky;
  top: 0;
  z-index: 1;
}
.c-evenbetter_table_header-cell {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: var(--c-space-2) var(--c-space-4);
  color: var(--c-fg-subtle);
  user-select: none;
  min-width: var(--1e00f3f4);
  box-sizing: border-box;
  border-right: 0.1em solid var(--c-bg-default);
}
[data-sortable="true"][data-is-resizing="false"]
  .c-evenbetter_table_header-cell {
  cursor: pointer;
}
[data-align="start"] .c-evenbetter_header-cell_wrapper {
  flex-direction: row;
}
.c-evenbetter_header-cell_wrapper {
  display: inline-flex;
  gap: var(--c-space-2);
  width: 100%;
}
.c-evenbetter_header-cell_content {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
.c-evenbetter_table-item-cell {
  min-width: var(--cellWidth);
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  width: var(--cellWidth);
  height: 100%;
  box-sizing: border-box;
}
.c-evenbetter_table-item-cell__inner {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-evenbetter_table-item-row {
  display: flex;
  min-width: fit-content;
  height: 42px;
  box-sizing: border-box;
  white-space: nowrap;
  border-bottom: 0.1em solid var(--c-bg-default);
  width: 100%;
}
.c-evenbetter_table-item-row:hover {
  background-color: var(--c-table-item-row-hover);
}
.c-evenbetter_table_row[data-is-even="true"] {
  background-color: var(--c-table-even-item-row);
}
.c-evenbetter_table_row:hover {
  cursor: pointer;
  background-color: var(--c-table-item-row-hover);
}
.c-evenbetter_table_header-cell:last-child {
  border-right: none;
}
.c-evenbetter_table {
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
}
